@page "/TaxaPrice";
@using TaxaPrisWebApp.Services
@inject Services.TaxaService TaxaService

<h3>Taxa Priser</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                Almindelig Vogn
                <br /><div style="font-size: 0.8rem; font-weight: normal;">Mandag-fredag kl.06-18
                    <br />&nbsp;</div>
            </th>
            <th>
                Almindelig Vogn
                <br /><div style="font-size: 0.8rem; font-weight: normal;">Mandag-fredag kl.18-06
                    <br />Helligdag/Weekend kl.00–24</div>
            </th>
            <th>Store Vogne - minibus
                <br /><div style="font-size: 0.8rem; font-weight: normal;">
                    Mandag-fredag kl.06-18
                    <br />&nbsp;
                </div>
            </th>
            <th>Store Vogne - minibus
                <br /><div style="font-size: 0.8rem; font-weight: normal;">
                    Mandag-fredag kl.18-06
                    <br />Helligdag/Weekend kl.00–24
                </div>
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th>Startpris</th>
            <th>@GetKoerselValue(1, "StartPris") kr.</th>
            <th>@GetKoerselValue(2, "StartPris") kr.</th>
            <th>@GetKoerselValue(3, "StartPris") kr.</th>
            <th>@GetKoerselValue(4, "StartPris") kr.</th>
        </tr>
        <tr>
            <th>Kilometerpris</th>
            <th>@GetKoerselValue(1, "KilometerPris") kr.</th>
            <th>@GetKoerselValue(2, "KilometerPris") kr.</th>
            <th>@GetKoerselValue(3, "KilometerPris") kr.</th>
            <th>@GetKoerselValue(4, "KilometerPris") kr.</th>
        </tr>
        <tr>
            <th>Minutpris</th>
            <th>@GetKoerselValue(1, "MinutPris") kr.</th>
            <th>@GetKoerselValue(2, "MinutPris") kr.</th>
            <th>@GetKoerselValue(3, "MinutPris") kr.</th>
            <th>@GetKoerselValue(4, "MinutPris") kr.</th>
        </tr>
    </tbody>
</table>
<br />
<br />
<h3>Tillægspriser</h3>
<p>Tillæg pr. cykel: @GetTillaegValue("PrCykel") kr.</p>
<p>Tillæg pr. opbæring: @GetTillaegValue("Opbaering") kr.</p>
<p>Tillæg for lufthavn: @GetTillaegValue("Lufthavn") kr.</p>
<p>Tillæg for 5-6 passagerer i almindelig vogn: @GetTillaegValue("MereEnd4") kr.</p>
<p>Tillæg for Liftvogn: @GetTillaegValue("LiftVogn") kr.</p>
<p>Tillæg for kørsel over Øresund: @GetTillaegValue("Oeresund") kr.</p>
<p>Tillæg for kørsel over Storebælt: @GetTillaegValue("Storebaelt") kr.</p>

@code {
    private List<TaxaService>? allPrice;
    private TaxaService? currentTaxa;

    protected override void OnInitialized()
    {
        allPrice = TaxaService.GetJsonData();
        currentTaxa = allPrice?.FirstOrDefault();
    }
    private string GetKoerselValue(int carId, string key)
    {
        var car = allPrice?.FirstOrDefault(c => c.Id == carId);
        return car?.Koersel != null && car.Koersel.TryGetValue(key, out var value) ? value : "N/A";
    }
    private string GetTillaegValue(string key)
    {
        return currentTaxa?.Tillaeg != null && currentTaxa.Tillaeg.TryGetValue(key, out var value) ? value : "N/A";
    }
}
