@page "/TaxaPrice";
@using TaxaPrisWebApp.Services
@using System.Collections.Generic
@using TaxaPrisWebApp.Models
@using TaxaPrisWebApp.ViewModels
@inject TaxaService TaxaService
@inject TaxaPriceService TaxaPriceService
@inject TaxaPriceData TaxaPriceData
@inject TaxaPriceCalcViewModel VModel

<h3>Taxa Priser</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                Almindelig Vogn
                <br /><div style="font-size: 0.8rem; font-weight: normal;">Mandag-fredag kl.06-18
                    <br />&nbsp;</div>
            </th>
            <th>
                Almindelig Vogn
                <br /><div style="font-size: 0.8rem; font-weight: normal;">Mandag-fredag kl.18-06
                    <br />Helligdag/Weekend kl.00–24</div>
            </th>
            <th>Store Vogne - minibus
                <br /><div style="font-size: 0.8rem; font-weight: normal;">
                    Mandag-fredag kl.06-18
                    <br />&nbsp;
                </div>
            </th>
            <th>Store Vogne - minibus
                <br /><div style="font-size: 0.8rem; font-weight: normal;">
                    Mandag-fredag kl.18-06
                    <br />Helligdag/Weekend kl.00–24
                </div>
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th>Startpris</th>
            <th>@TaxaPriceService.GetKoerselValue(VModel.AllPrice, 1, "StartPris") kr.</th>
            <th>@TaxaPriceService.GetKoerselValue(VModel.AllPrice, 2, "StartPris") kr.</th>
            <th>@TaxaPriceService.GetKoerselValue(VModel.AllPrice, 3, "StartPris") kr.</th>
            <th>@TaxaPriceService.GetKoerselValue(VModel.AllPrice, 4, "StartPris") kr.</th>
        </tr>
        <tr>
            <th>Kilometerpris</th>
            <th>@TaxaPriceService.GetKoerselValue(VModel.AllPrice,1, "KilometerPris") kr.</th>
            <th>@TaxaPriceService.GetKoerselValue(VModel.AllPrice,2, "KilometerPris") kr.</th>
            <th>@TaxaPriceService.GetKoerselValue(VModel.AllPrice,3, "KilometerPris") kr.</th>
            <th>@TaxaPriceService.GetKoerselValue(VModel.AllPrice,4, "KilometerPris") kr.</th>
        </tr>
        <tr>
            <th>Minutpris</th>
            <th>@TaxaPriceService.GetKoerselValue(VModel.AllPrice,1, "MinutPris") kr.</th>
            <th>@TaxaPriceService.GetKoerselValue(VModel.AllPrice,2, "MinutPris") kr.</th>
            <th>@TaxaPriceService.GetKoerselValue(VModel.AllPrice,3, "MinutPris") kr.</th>
            <th>@TaxaPriceService.GetKoerselValue(VModel.AllPrice,4, "MinutPris") kr.</th>
        </tr>
    </tbody>
</table>
<br />
<br />
<h3>Tillægspriser</h3>
<p>Tillæg pr. cykel: @TaxaPriceService.GetTillaegValue(VModel.CurrentTaxa, "PrCykel") kr.</p>
<p>Tillæg pr. opbæring: @TaxaPriceService.GetTillaegValue(VModel.CurrentTaxa, "Opbaering") kr.</p>
<p>Tillæg for lufthavn: @TaxaPriceService.GetTillaegValue(VModel.CurrentTaxa, "Lufthavn") kr.</p>
<p>Tillæg for 5-6 passagerer i almindelig vogn: @TaxaPriceService.GetTillaegValue(VModel.CurrentTaxa, "MereEnd4") kr.</p>
<p>Tillæg for Liftvogn: @TaxaPriceService.GetTillaegValue(VModel.CurrentTaxa, "LiftVogn") kr.</p>
<p>Tillæg for kørsel over Øresund: @TaxaPriceService.GetTillaegValue(VModel.CurrentTaxa, "Oeresund") kr.</p>
<p>Tillæg for kørsel over Storebælt: @TaxaPriceService.GetTillaegValue(VModel.CurrentTaxa, "Storebaelt") kr.</p>

@code {
    private List<TaxaService>? allPrice;
    private TaxaService? currentTaxa;

    protected override void OnInitialized()
    {
        VModel.AllPrice = TaxaService.GetJsonData();
        if (VModel.AllPrice != null)
        {
            VModel.CurrentTaxa = VModel.AllPrice.FirstOrDefault();
        }
    }

}
