@page "/TaxaPriceCalc";
@using TaxaPrisWebApp.Services
@using System.Collections.Generic
@using TaxaPrisWebApp.Models
@using TaxaPrisWebApp.ViewModels
@inject TaxaService TaxaService
@inject TaxaPriceService TaxaPriceService
@inject TaxaPriceData TaxaPriceData
@inject TaxaPriceCalcViewModel VModel
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

@* form start *@
<form>
    <h4>Vælg vogn:</h4>

    @* table *@
    @* data is retrieved from Taxapris.json *@
    <table width="100%" height="200px">

        @* first row *@
        <tr>
            @* first row, first column *@
            @* choose car drop down menu *@
            <td valign="top" width="15%" height="20px">
                <br />Vogntype<br />
                <select @onchange="HandleCarChange">
                    <option value="1">[Vælg vogn]</option>
                    <option value="1">Almindelig Vogn</option>
                    <option value="3">Stor Vogn</option>
                </select>
            </td>

            @* first row, second column *@
            @* choose time of day drop down menu based on car choice *@
            <td valign="top" width="15%" height="20px">
                    <br />
                @VModel.ShowTimeTitle
                <br />
                @if (VModel.AllPrice != null)
                {
                    @if (VModel.ConvertedCarMessage == "Almindelig Vogn")
                    {
                    <select @onchange="HandleTimeChange">
                            <option value="1">[Vælg tid]</option>
                            <option value="1">@VModel.AllPrice.First(c => c.Id == 1).Tid</option>
                            <option value="2">@VModel.AllPrice.First(c => c.Id == 2).Tid</option>
                        </select>
                    }
                    else if (VModel.ConvertedCarMessage == "Stor Vogn - minibus")
                    {
                    <select @onchange="HandleTimeChange">
                            <option value="3">[Vælg tid]</option>
                            <option value="3">@VModel.AllPrice.First(c => c.Id == 3).Tid</option>
                            <option value="4">@VModel.AllPrice.First(c => c.Id == 4).Tid</option>
                        </select>
                    }
                    else
                {
                    <select @onchange="HandleTimeChange">
                    <option value="1">[Vælg tid]</option>
                            <option value="1">@VModel.AllPrice.First(c => c.Id == 1).Tid</option>
                            <option value="2">@VModel.AllPrice.First(c => c.Id == 2).Tid</option>
                </select>
                }
                }
            </td>

            @* first row, third column *@
            @* choose number of passenger drop down menu. In a standard car, you can only have 6 passengers *@
            <td valign="top" width="15%" height="20px">

                @if (VModel.ConvertedCarMessage == "Almindelig Vogn")
                    {
                    <br />

                    @VModel.ShowPassengerTitle

                    <br />
                    <select @onchange="HandlePassengerChange">
                        <option value="0">[Vælg antal]</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    }
                else
                    {
                    <br />

                    @VModel.ShowPassengerTitle

                    <br />
                    <select @onchange="HandlePassengerChange">
                        <option value="0">[Vælg antal]</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    }
            </td>

            @* first row, fourth column rowspan 3 *@
            @* get map from google *@
            <td rowspan="3" colspan="2">
                <div style="width: 100%">
                    @* <iframe width="70%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Telegrafvej%209+(Tec)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps vehicle tracker</a></iframe> *@
                    <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d35919.143370162!2d12.393316280137304!3d55.759432254864116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x46524e6455555555%3A0x72b7451af0607a65!2sMaskinmesterskolen%20K%C3%B8benhavn%2C%20Gyrithe%20Lemches%20Vej%2C%20Kongens%20Lyngby!3m2!1d55.7861183!2d12.5114705!4m5!1s0x46525aecb918d019%3A0xb847ea9201483a5b!2sTelegrafvej%209%2C%202750%20Ballerup!3m2!1d55.7328317!2d12.342666099999999!5e0!3m2!1sda!2sdk!4v1715937359537!5m2!1sda!2sdk" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </td>
        </tr>

                @* second row*@
        <tr>
            @* second row, first column *@
            @* choose supplementaries look if they are checked *@
            <td valign="top">
                <br />
                @foreach (var option in VModel.Options)
                {
                    <label>
                        <input type="checkbox" @bind="option.IsChecked" /> @option.Label
                    </label>

                    <br />
                }
                <br />

                @if (VModel.Options[0].IsChecked == true)
                {
                    string bikeNo = "Antal Cykler:";
                    @bikeNo 
                    <select @onchange="HandleBikeChange">
                        <option value="0">[Vælg antal]</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>           
                }
                else if (VModel.Options[0].IsChecked == false)
                {
                    VModel.ConvertedBikePrice = 0;
                }

                <br /><br />
                @if (VModel.Options[1].IsChecked == true)
                {
                    string upNo = "Antal opbæringer:";
                    @upNo
                    <select @onchange="HandleUpChange">
                        <option value="0">[Vælg antal]</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                }
                else if (VModel.Options[1].IsChecked == false)
                {
                    VModel.ConvertedUpPrice = 0;
                }

                @if (VModel.Options[2].IsChecked == true)
                {
                    VModel.AirportPrice = int.Parse(TaxaPriceService.GetTillaegValue(VModel.CurrentTaxa, "Lufthavn"));
                }
                else if (VModel.Options[2].IsChecked == false)
                {
                    VModel.AirportPrice = 0;
                }

                @if (VModel.Options[3].IsChecked == true)
                {
                    VModel.LiftPrice = int.Parse(TaxaPriceService.GetTillaegValue(VModel.CurrentTaxa, "LiftVogn"));
                }
                else if (VModel.Options[3].IsChecked == false)
                {
                    VModel.LiftPrice = 0;
                }

                @if (VModel.Options[4].IsChecked == true)
                {
                    VModel.OeresundPrice = int.Parse(TaxaPriceService.GetTillaegValue(VModel.CurrentTaxa, "Oeresund"));
                }
                else if (VModel.Options[4].IsChecked == false)
                {
                    VModel.OeresundPrice = 0;
                }

                @if (VModel.Options[5].IsChecked == true)
                {
                    VModel.StorebaeltPrice = int.Parse(TaxaPriceService.GetTillaegValue(VModel.CurrentTaxa, "Storebaelt"));
                }
                else if (VModel.Options[5].IsChecked == false)
                {
                    VModel.StorebaeltPrice = 0;
                }

            </td>
        </tr>
    </table>
</form>
@* form end *@

@* get distance from user and print out data *@
<table width="100%">
    <tr>
        <td width="15%"></td>
        <td width="15%"></td>
        <td width="15%"></td>
        <td width ="340px">
        <label for="inputField">Skriv distance:</label>
        <br>
            <input type="text" id="inputField" name="inputField" @bind="VModel.DistanceValue">
        <br>
        <br>
            <input class="btn btn-primary" type="submit" value="Submit" @onclick="PrintoutData">
            <br>
        </td>
        <td style="align-content:start;">
            <br />
            <span style="border-block:dashed;width:fit-content; font-size:x-large">@VModel.SelectedData</span>
        </td>
    </tr>
</table>

@code {

    /// <summary>
    /// Starting up - and getting data from json file
    /// </summary>
    protected override void OnInitialized()
    {
        VModel.AllPrice = TaxaService.GetJsonData();
        if (VModel.AllPrice != null)
        {
            VModel.CurrentTaxa = VModel.AllPrice.FirstOrDefault();
        }

    }

    public void PrintSelectedOptions()
    {
        var selectedOptions = VModel.Options.Where(option => option.IsChecked).Select(option => option.Label);
        VModel.SelectedOptionsText = "Selected Options: " + string.Join(", ", selectedOptions);
    }

    public void HandleCarChange(ChangeEventArgs e)
    {
        string? selectedCar = e?.Value?.ToString() ?? "0";
        int selectedCarId = int.Parse(selectedCar);
        if (VModel.AllPrice != null)
        {
            VModel.ConvertedCarMessage = VModel.AllPrice.First(c => c.Id == selectedCarId).VognType;
        }
    }

    public void HandleTimeChange(ChangeEventArgs f)
    {
        string? selectedTime = f?.Value?.ToString() ?? "0";
        int convertedTime = int.Parse(selectedTime);
        if (VModel.AllPrice != null)
        {
            VModel.SelectedTime = VModel.AllPrice.First(c => c.Id == convertedTime).Tid;
        }
    }

    public void HandlePassengerChange(ChangeEventArgs g)
    {
        string? selectedPassenger = g?.Value?.ToString() ?? "0";
        if (selectedPassenger != string.Empty)
        {
            VModel.Message = "\tDu valgte: ";
            if (selectedPassenger == "5" || selectedPassenger == "6")
            {
                JSRuntime.InvokeVoidAsync("alert", "Ved mere end 4 passagerer, er der et tillæg på 40 kr.");
                VModel.MoreThanFour = TaxaPriceService.GetTillaegValueAsInt(VModel.AllPrice, 1, "MereEnd4");

            }
        }
        else
        {
            VModel.Message = "";
        }
        VModel.SelectedPassenger = int.Parse(selectedPassenger);
    }

    public void HandleBikeChange(ChangeEventArgs h)
    {
        string? selectedBike = h?.Value?.ToString() ?? "0";
        int selectedBikeNo = int.Parse(selectedBike);
        if (VModel.AllPrice != null)
        {
            VModel.ConvertedBikePrice = int.Parse(TaxaPriceService.GetTillaegValue(VModel.CurrentTaxa, "PrCykel")) * selectedBikeNo;
        }
    }

    public void HandleUpChange(ChangeEventArgs h)
    {
        string? selectedUp = h?.Value?.ToString() ?? "0";
        if (!int.TryParse(selectedUp, out int selectedUpNo))
        {
            selectedUpNo = 0;
        }
        if (VModel.AllPrice != null)
        {
            VModel.ConvertedUpPrice = int.Parse(VModel.AllPrice?.First()?.Tillaeg?["Opbaering"] ?? "0") * selectedUpNo;
        }
    }

    public void PrintoutData()
    {
        if (VModel.ConvertedCarMessage == "Almindelig Vogn")
        {
            if (VModel.SelectedTime == "AftenNatHelligdag")
            {
                VModel.SelectedId = 2;
            }
            else
            {
                VModel.SelectedId = 1;
            }
        }
        else if (VModel.ConvertedCarMessage == "Stor Vogn - minibus")
        {
            if (VModel.SelectedTime == "AftenNatHelligdag")
            {
                VModel.SelectedId = 4;
            }
            else
            {
                VModel.SelectedId = 3;
            }
        }
        if (VModel.SelectedId != 0 && VModel.DistanceValue != null)
        {       
            int startPris = TaxaPriceService.GetKoerselValueAsInt(VModel.AllPrice, VModel.SelectedId, "StartPris");
            decimal? kmPris = TaxaPriceService.GetKoerselValueAsDecimal(VModel.AllPrice, VModel.SelectedId, "KilometerPris");
            decimal? minutPris = TaxaPriceService.GetKoerselValueAsDecimal(VModel.AllPrice, VModel.SelectedId, "MinutPris");
        
            decimal distance = decimal.Parse(VModel.DistanceValue);
        decimal minuts = distance * 1.2M;


            decimal? turPris = distance * kmPris + minuts * minutPris + startPris + VModel.ConvertedBikePrice + VModel.ConvertedUpPrice + VModel.AirportPrice + VModel.LiftPrice + VModel.OeresundPrice + VModel.StorebaeltPrice + VModel.MoreThanFour;
        string selectedData = $"Den valgte tur koster {turPris:F2} kr.";

            VModel.SelectedData = selectedData;
        }
        else if (VModel.SelectedId == 0)
        {
            JSRuntime.InvokeVoidAsync("alert", "Du skal vælge vogn for at udregne en pris.");
        }
        else if (VModel.DistanceValue == null)
        {
            JSRuntime.InvokeVoidAsync("alert", "Vælg distance. Har du ikke valgt tidspunkt og antal passagerer, vælges dagspris og under 5 passagerer.");
        }
    }
    }
}
